body {
    width: 100%;
    height: 100%;
    background: url("./../img/背景.png") no-repeat;
    background-size: cover;
}

.logo-box h1 {
    margin-top: 15px;
    width: 170px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.logo-box h1 a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: url("./../img/logo.png") no-repeat;
    background-size: contain;
}

.loginAndRegBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 420px;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 10px;
}

.loginAndRegBox h3 {
    margin: 10px 0;
    height: 70px;
    font-size: 25px;
    color: #00a0e9;
    line-height: 70px;
    text-align: center;
    letter-spacing: 6px;
}

.reg-box,.findpwd-box {
    display: none;
}

.login-box,
.reg-box,
.findpwd-box {
    padding: 0 80px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 7px;
}

.layui-input {
    padding-left: 32px;
}

.login-box span {
    float: right;
}

.login-box span a {
    margin: 0 5px;
}

.reg-box a,
.findpwd-box>a {
    float: right;
}

.findpwd-box .fpwd-nav {
    text-align: center;
}

.findpwd-box .fpwd-content {
    padding-top: 30px;
}

.findpwd-box .layui-breadcrumb {
    visibility: visible;
}

.findpwd-box .layui-breadcrumb cite {
    color: #00a0e9;
    font-style: normal;
}

.findpwd-box .fpwd-content .fpwd {
    display: none;
}

.fpwd-content .input-val {
    padding: 0;
    text-align: center;
}

.fpwd-content .btn-getemailcode {
    width: 134px;
}

.finalydiv,
.finalydiv i{
    position: relative;
    left: 0px;
    top: 0px;
    height: 80x;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
    color: #00a0e9;
}